/* scripts/styles.css */
.time-control {
    background-color: white;
    padding: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    font-family: Arial, sans-serif;
    text-align: center;
}

.time-control input[type=range] {
    width: 200px;
}

.time-control button {
    margin: 5px;
    padding: 5px 10px;
    font-size: 14px;
}
